<!-- This is the handelbars page that holds the handlebar for the html head pages -- >
<!-- head -->
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>